.Footer
{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dark
    {
        background-color: black;
        color: black;
    }

    &.light
    {
        background-color: lightgray;
    }
}
